.search {
    margin-bottom: 2rem;

    &__card {
        background-color: #000;
        color: #fff;

    }

    &__form {
    
    }
}

.jumbotron {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}
