.profile {

    &__card {
        background-color: #000;
        color: #fff;
        padding: 1rem;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;

        &--pic {
            grid-column: 1 / 2;

            //Set to take up entire screen width on mobile devices
            @media only screen and (max-width: 500px) {
                grid-column: 1 / -1;
            }

        &-img {
            width: 100%;
            max-height: 30rem;
        }

        }

        &--btn {
            width: 100%;
            margin: 2rem 0;
        }

        &--info {
            grid-column: 2 / -1;

            //Set to take up entire screen width on mobile devices
            @media only screen and (max-width: 500px) {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }


            p {
                font-size: 1.4rem;
                text-align: center;
                border: 1px solid #fff;
                margin: 0;
                padding: 1rem;
            }

        }

    }
}

.display-btn {
    display: inline-block;
    font-size: 1.2rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    margin: 1rem;

    &--1 {
        background-color: rgb(122, 202, 3);
    }

    &--2 {
        background-color: rgb(0, 110, 0);
    }

    &--3 {
        background-color: rgb(18, 18, 211);
    }

    &--4 {
        background-color: rgb(94, 187, 218);
    }
}