//GLOBAL RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//ROOT FONT SIZE
html {
    font-size: 62.5%; //1rem = 10px

    //Reduce font size for smaller screens
    @media only screen and (max-width: 900px) {
        font-size: 50%;
    }

    @media only screen and (max-width: 900px) {
        font-size: 45%;
    }
}

body {
    background-color: #000;
    color: #fff;
    padding-bottom: 2rem;
}

.card {
    border: 1px solid #fff;
}